
<link rel="stylesheet" type="text/css" href="vistas/Administrador/estilos/estilos.css">


<div id="contenedorAdministrador" class="container-fuild">
	<div class="row contB">
		<div class="col-md-4">
			<button id="Vista_1" type="button" class="btn btn-info">Vista V1</button>
		</div>
		<div class="col-md-4">
			<button id="Vista_P" type="button" class="btn btn-warning">Vista Principal</button>
		</div>
		<div class="col-md-4">
			<button id="Vista_3" type="button" class="btn btn-danger">Vista V3</button>
		</div>
	</div>
</div>

<script src="vistas/Administrador/scripts/variables.js"></script>
<script src="vistas/Administrador/scripts/comunicaciones.js"></script>
<script src="vistas/Administrador/scripts/funciones.js"></script>
<script src="vistas/Administrador/scripts/gestionDOM.js"></script>
<script src="vistas/Administrador/scripts/ready.js"></script>