#divtabla .top {
	padding: 0.5rem 0rem;
}

#divtabla .top .dropdown-menu {
	margin: 0;
    min-width: 0;
}

#divtabla .top>div{
	display: inline-block;
	padding: 0rem 1rem;
	text-align: right;
	float: right;
}

#divtabla .filter th {
	padding: 0px 3px;
}

#divtabla .thead th {
	padding: 10px 3px;
}

#divtabla th,#divtabla td {
    white-space: nowrap;
}

#divtabla {
	position: relative;
	height: 95%;
	margin: 5px;
	padding-bottom: 16px;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
	font-weight: 400 !important;   
	line-height: 1 !important;
}

#divtabla span {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
	font-weight: 400 !important;   
	line-height: 1 !important;
}

#divtabla li {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
	font-weight: 400 !important;   
	line-height: 1 !important;
}

#divtabla div.dropdown-menu>div {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
	font-weight: 400 !important;   
	line-height: 1 !important;
}

#divtabla div.dropdown-menu {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
	font-weight: 400 !important;   
	line-height: 1 !important;
}

#divtabla div.dropdown.bootstrap-select.show-tick.form-control {
	width: 50px;
}

#divtabla div.bg-processing>div{
	background-color: white;
	z-index: 10;
	font-weight: 700;
}

#divtabla .dataTables_wrapper table>tbody>tr>td {
	min-width: 121px;
}

#divtabla .top .dropdown:hover>.block-menu {
  display: block;
}

#divtabla div.dataTables_wrapper div.dataTables_info {
    padding: 0.9em 0;
}

#divtabla div.dataTables_scrollHead table {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#divtabla div.dataTables_scrollHead th:first-child {
  border-top-left-radius: 4px;
}

#divtabla div.dataTables_scrollHead th:last-child {
  border-top-right-radius: 4px;
}

	/*
 *  SCROLL
 */

#divtabla .dataTables_scrollBody::-webkit-scrollbar-track
{
	background-color: transparent;
}

#divtabla .dataTables_scrollBody::-webkit-scrollbar
{
	height: 8px;
	width: 8px;
}

#divtabla .dataTables_scrollBody::-webkit-scrollbar-thumb
{
	border-radius: 30px;
	background-color: #555;
}

/*------------*/
#divtabla [data-id="modals"] {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
	font-weight: 400 !important;   
	line-height: 1 !important;
}

#divtabla [data-id="modals"] .form-control {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
	font-weight: 400 !important;   
	line-height: 1 !important;
}

#divtabla [data-id="modals"] ul.dropdown-menu>li span.text {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
	font-weight: 400 !important;   
	line-height: 1 !important;
}

#divtabla [data-id="modals"] div.col-2.text-center {
	margin: auto;
	font-size: 15px !important;
}

#divtabla div.opciones button[data-for] {
	display: none;
}

#divtabla .dataTables_wrapper table {
	width: 100% !important;
}

.c_shadow {
	box-shadow: 0 0 10px 3px #c7c7c7;
	background-color: #ffffff;
}

.cursor_sel {
	cursor: pointer;
}


/*********************************************************************************************/

#divtabla .top > div.btn-table-movil{
	float: left; 
	padding: 8px 5px;
}

#divtabla .btn-table-movil:hover{
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    border-radius: 5px;
}

#divtabla #btn-toggle-table{
	vertical-align: middle;
	text-align: center;
	font-size: 30px;
}

#divtabla .top #btn-toggle-option {
	min-width: 160px;
    padding: 0 5px;
}

#divtabla .top #btn-toggle-option button{
	width: 100%;
	height: 45px;
    margin: 5px 0;
}

@media only screen and (max-width: 768px){
    #divtabla .top>div {
       	padding: 0rem 0.35rem;
    }
}

