
#contenedorV3 {
  background-image: url(../../../imagenes/galaxia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*evita que se pueda seleccionar el texto en la barra*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

#contenedorV3 > div.contB{
	margin: 10px 0;
}

#contenedorV3 > div.contB button{
	margin: 10px 0;
	width: 100%;
}