

/* Se establecen los estilos de css para la vista actual, es recomendable ser lo mas
especifico posible a la hora de asignar estilos para no afectar los estilos de otras vistas 
quese carguen mientras se navega en la app, siempre empezando con el ID del contenedor 
principal de la vista  */
#contenedorPag_construccion {
  background-image: url(../../../imagenes/OPC.jpg);
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center;
  /*evita que se pueda seleccionar el texto en la barra*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

/* Se establece que el primer hijo div del contenedor principal que tiene ademas la
clase contB se le asiganara el estilo, solo a este, con el operador > se indica que solo
al primer hijo se le asignara este estilo y no aplica mas allá en la descendencia
Es muy importante ser lo mas especifico posible para que estas reglas prevalezcan sobre
otras mas generales */
#contenedorPag_construccion > div.contB{
	margin: 10px 0;
}

#contenedorPag_construccion > div.contB button{
	margin: 10px 0;
	width: 100%;
}