/*  dropdawn selectores */
.graficaStyleCss .scroller *, .graficaStyleCss .wrapper *, .graficaStyleCss .actions-btn,
.graficaStyleCss .bs-container {
  font-size: 11px;
}

.graficaStyleCss .highcharts-label text {
  font-size: 14px!important; 
}

/*estilo de los numeros internos de las barras*/
div.graficaStyleCss svg > g > g > text > tspan {
  stroke-width: 0.5px;
}

.graficaStyleCss .card * {
    font-size: 12px;
}

.graficaStyleCss .accordionGraph {
    padding-bottom: 10px;
}

.graficaStyleCss .card h5 {
    font-size: 14px;
}

.graficaStyleCss .card .fa-minus-circle, .graficaStyleCss .card .fa-plus-circle  {
  font-size: 16px;
}

.graficaStyleCss .card .close {
      font-size: 25px;
}

.graficaStyleCss .card .dropdown-toggle {
  font-size: 16px;
}

.graficaStyleCss .cardIn {
    border-left: none;
    border-right: none;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: -1px;
}

.graficaStyleCss .cardIn .card-header {
    border-bottom: none;
}

.graficaStyleCss .card-link {
  color:#666666;
}

.graficaStyleCss .inlineGraph {
  display: inline;
}

.graficaStyleCss .card-header button.btn:focus {
  box-shadow: none!important;
}

.graficaStyleCss .widthLinks {
  padding: 0px;
  line-height: 1.5;
  width: 48%;
  float: left!important;
}

.graficaStyleCss .card-link:hover {
  color:black;
}
/**/
/*div grafica*/
.graficaStyleCss .grafica {
  min-height: 400px;
	margin: 0 auto;
	border: 1px solid #dee2e6;
  border-top: none;
  border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
}

.graficaStyleCss .chartPanelMain {
  margin: 0 auto;
  border: 1px solid #dee2e6;
  border-top: none;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.graficaStyleCss .chartPanel {
  min-width: 280px;
  height: 400px;
}

/*selectores*/
.graficaStyleCss .graficaSelectorPadding {
	padding-right: 10px !important;
	padding-bottom:  10px !important;
}

/*Ancho de los selectores*/
.graficaStyleCss .graficaSelectorPadding .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 55%;/*144*/
}
/**/

/*Spinner*/
.graficaStyleCss .grafica .graphCenter {
	text-align: center;
	padding-top: 180px;
}

.graficaStyleCss .chartPanel .graphCenter {
  text-align: center;
  padding-top: 180px;
}

.graficaStyleCss .spinner-border {
	width: 3rem;
  height: 3rem;
}
/**/

/*ERROR*/
.errorGraph {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 180px;
  color: rgb(242, 116, 116);
}

.errorGraph p {
  max-width: 300px;
  margin: auto;
}

.errorGraph i {
  font-size: 30px;
}

@media (max-device-width: 1024px) {
  .errorGraph p {
    max-width: 200px;
  }
}
/**/

/*Scroll horizontal grafica*/
.graficaStyleCss .wrapper {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    border-top: 1px solid rgb(216, 216, 216);
    border-left: 1px solid rgb(216, 216, 216);
    border-right: 1px solid rgb(216, 216, 216);
    position:relative;
    margin:0 auto;
    overflow:hidden;
    padding:5px;
    height:33px;
}

.graficaStyleCss .wrapper .nav-tabs .nav-link, .graficaStyleCss .wrapper .nav-tabs .nav-link {
    border-color: #dee2e6 #dee2e6 #dee2e6;
    border-bottom: none;
    color: #666;
    padding-right: 30px;
}

.graficaStyleCss .wrapper .nav-tabs .nav-link:hover {
    border-color: #dee2e6 #dee2e6 #dee2e6;
    border-bottom: none;
    color: black;
    background-color: rgb(252,252,252);
}

.graficaStyleCss .wrapper .nav-tabs {
  background-color: #f7f7f7;
}

.graficaStyleCss .list {
    position:absolute;
    left:0px;
    top:0px;
    min-width:3500px;
    margin-top:-1px;
    margin-left: -1px;
}

.graficaStyleCss .list li{
    display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.graficaStyleCss .scroller {
  border: 1px solid #dee2e6;
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:0px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}

.graficaStyleCss .scroller-right{
  border-top-right-radius: .25rem;
  float:right;
}

.graficaStyleCss .scroller-left {
  border-top-left-radius: .25rem;
  float:left;
}
/**/
/*Context menu*/
.graficaStyleCss .highcharts-container {
  position: inherit !important;
}
.graficaStyleCss .highcharts-contextmenu {
  z-index:9999!important;
  bottom: -400px!important;
}
/**/

/*Scroll-horizontal-Selectores*/
.graficaStyleCss .slider {
  width: 100%;
  display: flex;
  align-items: stretch; 
  overflow-x: scroll;
  -ms-overflow-x: scroll;
  -webkid-overflow-x: scroll;
  overflow-y: hidden;
  padding: 0px!important;
  scroll-snap-type: x mandatory; /* Chrome Canary */  
  scroll-snap-type: mandatory; /* Firefox */  
  -ms-scroll-snap-type: mandatory; /* IE/Edge */  
  -webkit-scroll-snap-type: mandatory; /* Safari */  
  -webkit-scroll-snap-destination: 0% 0%;  
  -webkit-overflow-scrolling: touch; /* important for iOS */ 
}

.graficaStyleCss .slider::-webkit-scrollbar-track, .graficaStyleCss .inner::-webkit-scrollbar-track
{
 background-color: transparent;
}

.graficaStyleCss .slider::-webkit-scrollbar, .graficaStyleCss .inner::-webkit-scrollbar
{
 height: 8px;
 width: 8px;
}

.graficaStyleCss .slider::-webkit-scrollbar-thumb, .graficaStyleCss .inner::-webkit-scrollbar-thumb
{
 border-radius: 30px;
 background-color: #999;
}

.graficaStyleCss .section {
    padding-top: .5rem;
    padding-left: 3rem;
    width: 25%;
    flex-shrink: 0;  
    scroll-snap-align: start; /* latest (Chrome 69+) */  
    scroll-snap-coordinate: 0% 0%; /* older (Firefox/IE) */  
    -webkit-scroll-snap-coordinate: 0% 0%; /* older (Safari) */ 
    position: relative;
}

.graficaStyleCss .highcharts-axis-labels text{
  color: #000 !important;
  fill: #000 !important;
  font-weight: 600;
}

.graficaStyleCss .highcharts-axis text{
  color: #000 !important;
  fill: #000 !important;
  font-weight: 400;
}
/**/

/*BTN detalle*/
.graficaStyleCss .btnDetalleGP {
    position: relative;
    font-size: 13px;
    color: #3D8BCD;
    width: 0px;
    top: 10px;
    left: -24px;
}

.graficaStyleCss .btnDetalleGP:hover {
  color: #1262A7;
}