
<link rel="stylesheet" type="text/css" href="vistas/Cliente/estilos/estilos.css">


<div id="contenedorCliente" class="container-fuild">
	<div class="row contB">
		<div class="col-md-4">
			<button id="Vista_P" type="button" class="btn btn-info">Vista Principal</button>
		</div>
		<div class="col-md-4">
			<button id="Vista_2" type="button" class="btn btn-warning">Vista V2</button>
		</div>
		<div class="col-md-4">
			<button id="Vista_3" type="button" class="btn btn-danger">Vista V3</button>
		</div>
	</div>
</div>

<script src="vistas/Cliente/scripts/variables.js"></script>
<script src="vistas/Cliente/scripts/comunicaciones.js"></script>
<script src="vistas/Cliente/scripts/funciones.js"></script>
<script src="vistas/Cliente/scripts/gestionDOM.js"></script>
<script src="vistas/Cliente/scripts/ready.js"></script>