/*Se quita los scrollbar del cuerpo de la pagina*/
body{
  overflow: hidden;
}


#contenedorPrincipal > div {
  /* height: 100vh;
  width: 100vw; */
  /* position: absolute; */
  overflow: auto;
  /* top: 0; */
  left: 0;
  /* align-self: center; */
  /* clear: inherit; */
  margin: auto;
  margin-top: 100px;
}

/*********************************************************************************************************/
/* Reglas de CSS que aplican para la librería del Datatable para darte un aspecto mas fluido a la tablas */
/*********************************************************************************************************/
/*********************************************************************************************************/

#divtabla{
  font-family: 'Muli', Heveltica, Arial, sans-serif !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

/*Clases para quitar el azul cuando se seleccionaba una fila en una tabla de datatable*/
table.dataTable tbody tr.selected, 
table.dataTable tbody th.selected, 
table.dataTable tbody td.selected{
  color: black; 
}

table.dataTable tbody>tr.selected, 
table.dataTable tbody>tr>.selected {
  background-color: darkgray; 
}


table.dataTable tbody th.focus, 
table.dataTable tbody td.focus{
  box-shadow: none;
}

@media only screen and (max-width: 767px){
  #divtabla div.bootstrap-select > div.dropdown-menu{
    min-width: auto !important;
    max-width: calc(100vw - 100px);
  }
}

/*Modales de las vistas*/
.swal2-contentwrapper{
  font-family: 'Muli', Heveltica, Arial, sans-serif !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.swal2-container .swal2-close{
  outline: none;
}

.popover {
  z-index: 1035 !important;
}

/************************************************************************************/

/* estilos mensajes de error */
.swal2-container #divForm .errorInput{
    border: solid 2px red !important;
}

.swal2-container #divForm .errorInput:focus ~ label{
    color: red !important;
}

.swal2-container #divForm .errorInput:valid ~ label{
    color: red !important;
}

.swal2-container #valorForm .errorInput{
    border: solid 2px red !important;
}

.swal2-container #valorForm .errorInput:focus ~ label{
    color: red !important;
}

.swal2-container #valorForm .errorInput:valid ~ label{
    color: red !important;
}


#contenedorM_crear_atributo .errorInput{
    border: solid 2px red !important;
}

#contenedorM_crear_atributo .errorInput:focus ~ label{
    color: red !important;
}

#contenedorM_crear_atributo .errorInput:valid ~ label{
    color: red !important;
}

.msnError{
    color: #d93025;
    font-size: 12px;
}

.msnError span{
    vertical-align: middle;
}

.msnError i{
    vertical-align: middle;
}

/*****************************************************************************************/

.margin-top-name{
  margin-top: 23px;
}

.border-r-select{
  border-radius: 5px;
}

.margin-top-select{
  margin-top: 5px;
}

/*****************************************************************************************/

.disableEvents{
  pointer-events: none;
}

/*****************************************************************************************/

.inner::-webkit-scrollbar-track
{
  background-color: transparent;
}

.inner::-webkit-scrollbar
{
  height: 8px;
  width: 8px;
}

.inner::-webkit-scrollbar-thumb
{
  border-radius: 30px;
  background-color: #999;
}

/*****************************************************************************************/
/*Ancho de selectores - Caja interna*/
body > div.bs-container.bootstrap-select div[role="combobox"].show {
 min-width: 100%!important;
  width: 100%!important;
}

/*Iconos google*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../imagenes/iconos/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../imagenes/iconos/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../imagenes/iconos/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../imagenes/iconos/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-rem { font-size: 1.4rem; }
.material-icons.md-12  { font-size: 12px; }
.material-icons.md-14  { font-size: 14px; }
.material-icons.md-18  { font-size: 18px; }
.material-icons.md-22  { font-size: 22px; }
.material-icons.md-24  { font-size: 24px; }
.material-icons.md-36  { font-size: 36px; }
.material-icons.md-48  { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/

/* Se crean las reglas añadiendo un nuevo tipo de letra teniendo las fuentes en formato woff2 y se especifica
Nombre, estilo de letra, tamaño y donde se encuentra en archivo que contiene la información de las tipografías */
/*Tipografías*/

/*Tipo Muli*/
/* vietnamese */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli Regular'), local('Muli-Regular'), url(tipografias/Muli_vietnamese.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli Regular'), local('Muli-Regular'), url(tipografias/Muli_latin_ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli Regular'), local('Muli-Regular'), url(tipografias/Muli_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

