
#contenedorAdministrador {
  background-image: url(../../../imagenes/cascada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*evita que se pueda seleccionar el texto en la barra*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

#contenedorAdministrador > div.contB{
	margin: 10px 0;
}

#contenedorAdministrador > div.contB button{
	margin: 10px 0;
	width: 100%;
}