
<!-- La estructura del HTML es la siguiente, se carga la hoja de estilos que tiene
las reglas del CSS que se usaran en esta vista con la etiqueta link,
el contenedor de la vista, preferiblemente que el id se llame contenedorNombreDeVista o 
solamente el nombre de la vista para darle una trazabilidad en caso de un fallo, debe
contener la clase container o container-fuild para el uso de la librería de bootstrap y por
ultimo se cargan los scripts, son 5 por cada vista, se llaman variables, comunicaciones,
funciones, gestionDOM y por ultimo ready
siempre el primero debe ser variables y el ultimo debe ser el ready
Esto es debido a que en el script de variables se crea el objeto principal de la vista,
en comunicaciones, funciones y gestionDOM se crean las funciones usando el objeto
y en el ready se crean los eventos necesarios para la vista -->
<link rel="stylesheet" type="text/css" href="vistas/Registro/estilos/estilos.css">


<div id="contenedorRegistro" class="container">
	

	 

	 <h1 class="h3 mb-3 font-weight-normal">Registrate a TacoMix</h1>

	 <input type="text" name="nombres" id="nombres" class="form-control top" placeholder="Nombres" required autofocus>
	 <input type="text" name="apellidos" id="apellidos" class="form-control top" placeholder="Apellidos" required>
	 <input type="text" name="usuario" id="usuario" class="form-control top" placeholder="Usuario" required>
	 <input type="password" name="contraseña" id="password" class="form-control middle" placeholder="Contraseña" required>
	 <input type="password" name="contraseña_confirmacion" id="password_confirmation" class="form-control middle" placeholder="Repita la contraseña" required>
	 <input type="email" name="correo_electronico" id="email" class="form-control bottom" placeholder="Correo electronico" required>

	<div id="type_select">

		<input class="user" type="radio" id="radio1" name="user_type" value="Cliente" checked />
		<label for="radio1" >Cliente</label> <br>
		<input class="user" type="radio" id="radio2" name="user_type" value="Administrador" />
		<label for="radio2" >Administrador</label>

	</div>
	 
	
	 <button class="btn btn-lg btn-primary btn-block deshabilitado Registro" id="boton_Registro" type="submit" id="Registrarme">Registrarme</button>
	 <input type="hidden" name="registro" value="registro_usuario" >

	 <button class="btn btn-lg btn-success btn-block" type="submit" id="Login" >Ya tengo una cuenta</button>
	 <input type="hidden" name="ingreso" value="traer_usuario" id="ingreso">

	 

</div>

<script src="vistas/Registro/scripts/variables.js"></script>
<script src="vistas/Registro/scripts/comunicaciones.js"></script>
<script src="vistas/Registro/scripts/funciones.js"></script>
<script src="vistas/Registro/scripts/gestionDOM.js"></script>
<script src="vistas/Registro/scripts/ready.js"></script>