
<!-- La estructura del HTML es la siguiente, se carga la hoja de estilos que tiene
las reglas del CSS que se usaran en esta vista con la etiqueta link,
el contenedor de la vista, preferiblemente que el id se llame contenedorNombreDeVista o 
solamente el nombre de la vista para darle una trazabilidad en caso de un fallo, debe
contener la clase container o container-fuild para el uso de la librería de bootstrap y por
ultimo se cargan los scripts, son 5 por cada vista, se llaman variables, comunicaciones,
funciones, gestionDOM y por ultimo ready
siempre el primero debe ser variables y el ultimo debe ser el ready
Esto es debido a que en el script de variables se crea el objeto principal de la vista,
en comunicaciones, funciones y gestionDOM se crean las funciones usando el objeto
y en el ready se crean los eventos necesarios para la vista -->
<link rel="stylesheet" type="text/css" href="vistas/Login/estilos/estilos.css">


<div id="contenedorLogin" class="container">

	 <h1 class="h3 mb-3 font-weight-normal">Iniciar sesion en TacoMix</h1>

	 <input type="text" name="usuario" id="usuario" class="form-control bottom" placeholder="usuario"  required>
	 <input type="password" name="password" id="password" class="form-control middle" placeholder="Contraseña"  required>
	
	 
	 <button class="btn btn-lg btn-success btn-block Login deshabilitado" id="boton_Login" type="submit" >Iniciar Sesion</button>
	
	 <button class="btn btn-lg btn-primary btn-block" type="submit" id="Registro" >Registrarme</button>
	 

</div>

<script src="vistas/Login/scripts/variables.js"></script>
<script src="vistas/Login/scripts/comunicaciones.js"></script>
<script src="vistas/Login/scripts/funciones.js"></script>
<script src="vistas/Login/scripts/gestionDOM.js"></script>
<script src="vistas/Login/scripts/ready.js"></script>