
<link rel="stylesheet" type="text/css" href="vistas/V3/estilos/estilos.css">


<div id="contenedorV3" class="container-fuild">
	<div class="row contB">
		<div class="col-md-4">
			<button id="Vista_1" type="button" class="btn btn-info">Vista V1</button>
		</div>
		<div class="col-md-4">
			<button id="Vista_2" type="button" class="btn btn-warning">Vista V2</button>
		</div>
		<div class="col-md-4">
			<button id="Vista_P" type="button" class="btn btn-danger">Vista Principal</button>
		</div>
	</div>
</div>

<script src="vistas/V3/scripts/variables.js"></script>
<script src="vistas/V3/scripts/comunicaciones.js"></script>
<script src="vistas/V3/scripts/funciones.js"></script>
<script src="vistas/V3/scripts/gestionDOM.js"></script>
<script src="vistas/V3/scripts/ready.js"></script>