
.spinner-position-gantt{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    height: 100%;
}

#contGanttH .bs-actionsbox {
    display: none;
}

#contGanttH .c1 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #8d8d8d;
    border-radius: 5px;
    width: 100%;
}

#contGanttH .c2 {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    position: relative;
}

#contGanttH .topnav a.icon {
    display: none;
}

#contGanttH .controls {
    padding: 0.1rem 0.1rem 0.5rem 0.5rem;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
    justify-content: space-between;
}

#contGanttH .cont {
    position: relative;
    border-top: #dadce0 1px solid;
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

#contGanttH .cont {
    border-top: 0;
}

#contGanttH .contA {
    -webkit-box-flex: 1 1 60%;
    -webkit-flex: 1 1 60%;
    flex: 1 1 60%;
}

#contGanttH .v-line {
    box-shadow: 1px 2px 2px 1px #b1b1b1;
}

/*.r-line.v-line {
    padding-right: 8px
}
*/
#contGanttH .h-line::before {
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.14), inset 0 2px 1px -1px rgba(0,0,0,.12);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.14), inset 0 2px 1px -1px rgba(0,0,0,.12);
    content: "";
    height: 4px;
    position: absolute;
    width: -webkit-calc(100% - 16px);
    width: calc(100% - 16px);
    z-index: 25;
}

#contGanttH .h-line::after {
    background-image: linear-gradient(to left,white,rgba(255,255,255,0));
    content: "";
/*    height: 2px;*/
    position: absolute;
    right: 16px;
    width: 80px;
    z-index: 25;
}

#contGanttH .h-line .r-line::before {
    background-image: linear-gradient(to right,white,rgba(255,255,255,0));
    content: "";
    height: 2px;
    position: absolute;
    width: 80px;
    z-index: 25;
}

/*.time {
    overflow-x: hidden;
    font-size: 12px;
    width: 100%;
    height: 100%;
}
*/

#contGanttH .row-time {
    width: auto;
    overflow: hidden;
    -webkit-box-flex: none;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    min-height: 14px;
    border-top: 1px solid #dadce0;
    line-height: 10px;
    font-weight: bold;
}

#contGanttH .time div {
    display: inline-block;
}

#contGanttH .time .item {
    font-size: 11px;
    left: 2px;
    top: 0px;
}

#contGanttH .time-item {
    border-right: 1px solid #dadce0;
}

#contGanttH .inner-cont {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-y: scroll;
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

#contGanttH .cont .inner-cont {
    overflow: hidden;
    -webkit-align-items: stretch;
    align-items: stretch;
}

#contGanttH .inner-cont .col-recursos {
    height: auto;
}

#contGanttH .col-recursos {
    height: 960px;
}

#contGanttH .col-recursos {
    overflow-y: hidden;
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
    height: 1152px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

#contGanttH .col-recursos {
    /*min-width: 40px;*/
    width: 80px;
}

#contGanttH .date, .week, .day {
    color: black;
    /*font-size: 12px;*/
    width: 100%;
}


#contGanttH .date .vertical-date span,
#contGanttH .week .vertical-week span, 
#contGanttH .day .vertical-day span{
    font-size: 11px;
}

#contGanttH .recursos {
    color: #70757a;
    font-size: 12px;
    width: 100%
}

#contGanttH .date,
#contGanttH .recursos,
#contGanttH .week,
#contGanttH .day,
#contGanttH .time {
    position: relative;
    border-right: #dadce0 1px solid;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#contGanttH .recursos {
    margin-left: auto;
    border-right: none;
}

#contGanttH .recursos-item {
    position: relative;
    height: 48px;
    background: white;
    text-align: center;
}

#contGanttH .recursos-item {
    text-align: center;
    border-top: 1px solid #dadce0;
    border-left: 1px solid #dadce0;
    /*width: 105px;*/
}

#contGanttH .item {
    /*display: block;*/
    position: relative;
    top: -2px;
}

#contGanttH .r-item {
    font-size: 10px;
    color: #262829;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: bold;
}

#contGanttH .pres {
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    border-right: 1px solid #dadce0;
}

#contGanttH .inner-cont .pres {
    overflow-x: auto;
    overflow-y: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

#contGanttH .slider::-webkit-scrollbar,
#contGanttH .inner-cont .pres::-webkit-scrollbar,
#contGanttH .c2 .modalC-body::-webkit-scrollbar,
#eventsModal.modalC .modalC-body::-webkit-scrollbar,
#contGanttH .c2 .cont-det::-webkit-scrollbar,
#contGanttH ~ .pop-over > div::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}

#contGanttH .slider::-webkit-scrollbar-thumb,
#contGanttH .inner-cont .pres::-webkit-scrollbar-thumb,
#contGanttH .c2 .modalC-body::-webkit-scrollbar-thumb,
#eventsModal.modalC .modalC-body::-webkit-scrollbar-thumb,
#contGanttH .c2 .cont-det::-webkit-scrollbar-thumb,
#contGanttH ~ .pop-over > div::-webkit-scrollbar-thumb{
    background: #999;
    border-radius: 30px;
}



#contGanttH .gantt {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

#contGanttH .gantt {
    overflow: hidden;
}

#contGanttH .inner-cont .gantt {
    min-width: 100%;
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
}

#contGanttH .inner-cont .cont-events {
    -webkit-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 129px;
    min-width: 129px;
}

#contGanttH [role="gridcell"] {
    outline: none;
}

#contGanttH .cont-events {
    border-right: #dadce0 1px solid;
    position: relative;
    /*padding-right: 12px;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

#contGanttH .cont-events.cont-evs {
    overflow: hidden;
    /*padding-left: 5px;*/
}

#contGanttH .cont-events.cont-evs {
    border-right: white 1px solid;
    overflow: visible;
}

#contGanttH .no-v {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/*.h-line {
    -webkit-box-shadow: inset 0px -2px 3px 0 rgba(0,0,0,.14), inset 0px -2px 1px -1px rgba(0,0,0,.12);
    box-shadow: inset 0px -2px 3px 0 rgba(0,0,0,.14), inset 0px -2px 1px -1px rgba(0,0,0,.12);
}*/

#contGanttH .vertical-line {
    width: 8px;
    border-right: #dadce0 1px solid;
}

#contGanttH .label-line {
    position: absolute;
    top: 0;
    left: 8px;
    height: 100%;
    border-left: solid 1px;
    z-index: -1;
}

#contGanttH div.vertical-text
{
    font-size: 12px;
    text-align: right;
    position: absolute;
    left: -13.5%;
    writing-mode: vertical-lr;
    /*transform: rotate(180deg); */
    /*-webkit-transform: rotate(180deg); /* Safari/Chrome */
    /*-moz-transform: rotate(180deg); /* Firefox */
    /*-o-transform: rotate(180deg); /* Opera */
    /*-ms-transform: rotate(180deg); /* IE 9 */
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
/*    border: 1px solid black;
    border-radius: 10px;*/
}

#contGanttH div.vertical-text .label-text
{
    background: white;
    position: relative;
    text-overflow: ellipsis;
}

#contGanttH div.vertical-date,
#contGanttH div.vertical-week,
#contGanttH div.vertical-day
{
    display: inline-block;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid #dadce0;
}

#contGanttH div.vertical-date .date-text, 
#contGanttH div.vertical-week .week-text, 
#contGanttH div.vertical-day .day-text
{
    width: fit-content;
    background: white;
    position: relative;
    text-overflow: ellipsis;
    display: block;
}

#contGanttH .rule {
    height: 48px;
    min-height: 1rem;
}

#contGanttH .rule::after {
    content: '';
/*    border-bottom: #dadce0 1px solid;
    border-bottom: #575a61 1px solid;*/
    position: absolute;
    width: 100%;
    margin-top: -1px;
    z-index: 3;
    pointer-events: none;
}

#contGanttH .rules{
    border-top: #dadce0 1px solid;
}

#contGanttH .events-resource {
    /*position: relative;*/
    min-height: 25px;
    padding-top: 5px;
}

#contGanttH .event{
    position: absolute;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    outline: none;
    font-size: 12px;
    min-height: 1rem;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    width: 98%;
    min-width: 3px;
    left: 10px;
    z-index: 10;
    color: white;
    /*font-weight: 1; */
    /*box-shadow: inset 0px -1px 3px 1px #000000a1, inset 0px -1px 3px 1px #ffff0042;*/
}

#contGanttH .group-events {
    background: repeating-linear-gradient(0deg,#494949,#494949 4px,#e0e0e0 4px,#e0e0e0 7px);
    cursor: default;
    border: 1px solid #9a9090;
}

#contGanttH .arrow-group {
    position: absolute;
    left: 3px;
    font-size: 11px;
    z-index: 15;
    height: 13px;
}

#contGanttH .event>div {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 16px;
    /*font-weight: bold;*/
}

#contGanttH .presentation {
    position: relative;
    height: 100%;
    width: 100%;
}

#contGanttH .options {
    border-radius: 50%;
    cursor: pointer;
    padding: 1% 2%;
    text-align: center;
    vertical-align: middle;
    height: 35px;
    width: 35px;
}

#contGanttH .options:hover {
    background-color: #dadce0;
}

#contGanttH .opt-cont {
    padding: 1rem 0 0.5rem 0;
}

#contGanttH .options-D {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50% / 50%;
    cursor: pointer;
    /*padding: 1% 2%;*/
    text-align: center;
    /*vertical-align: middle;*/
    height: 30px;
    width: 30px;
}

#contGanttH .options-D i {
    vertical-align: middle;
    font-size: 16px;
}

#contGanttH .options-D:hover {
    /*background-color: #dadce0;*/
}

.modalC {
    position: fixed;
    top: 0;
    left: 7px;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100px;
    /*overflow: auto;*/
    outline: 0;
    max-width: 323px;
}

.modalC-body {
    position: relative;
    right: 6px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem 1rem;;
    margin-bottom: 0.5rem;
    font-size: 12px;
    max-height: 160px;
    overflow: auto;
}

.modalC-body span {
    font-weight: bolder;
}

.modalC-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    padding: 0.2rem 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modalC-title {
    margin-bottom: 0;
    margin-top: 2%;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50%;
    min-width: 50%;
    overflow: hidden;
    font-size: 14px;
}

.modalC-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.modalC-dialog {
    width: 100%;
    max-width: 500px;
}

.pop-over {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    background: white;
    z-index: 23;
    border-radius: 10px;
    padding: 0.5rem;
    border: 1px solid rgba(0,0,0,.2);
    overflow: auto;
    max-width: 200px;
    width: 50%;
    line-height: 16px;
    font-size: 15px;
}

.pop-over>div{
    max-height: 250px;
    overflow: auto;
    color: white;
}

.close-po {
    display: none;
}

.pop-event {
    position: relative;
    top: 0px;
    margin-bottom: 2px;
    width: 100%;
}

#contGanttH .details {
    width: 20%;
    /*overflow: auto;*/
    display: none;
    padding: 0.5rem 0.1rem;
    border-right: 1px solid #dadce0; 
}

#contGanttH .detail {
    border-radius: 5px;
    border: 1px solid #ccc;
    position: static;
    margin-top: 3px;
    padding-right: 7px;
}

#contGanttH .cont-det {
    overflow: auto;
    height: 100%;
    padding: 0.5rem 0.2rem;
}

#contGanttH .detail .titleD{
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    padding-bottom: 3px; 
    box-shadow: 0px 1px 1px 0px #dadce0;
}

#contGanttH .detail .fas,
#contGanttH .detail .far {
    cursor: pointer;
}

#contGanttH .selectEv {
    /* background: #4dd2ff; */
    /*background-color: red;*/
    -webkit-animation-name: shadowSel;
    -webkit-animation-duration: 4s;
    animation-name: shadowSel;
    animation-duration: 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes shadowSel {
    0%   {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    12%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    24%  {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    36%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    48%  {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    60%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    72%  {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    84%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    100% {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
}

/* Standard syntax */
@keyframes shadowSel {
    0%   {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    12%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    24%  {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    36%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    48%  {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    60%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    72%  {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    84%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    100% {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
}

#contGanttH .gotoEvD:hover {
    color: #17a2b8;
}

#contGanttH .editEvD:hover {
    color: #007bff;
}

#contGanttH .delEvD:hover {
    color: #dc3545;
}

#contGanttH .delD {
    color: #6c757d;
}

#contGanttH .delD:hover {
    color: #000;
}

#contGanttH .button {
    position: absolute;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 25;
    border-radius: 50%;
    box-shadow: 1px 1px 2px #ccc, -1px 1px 2px #ccc;
    background: white;
    text-align: center;
    cursor: pointer;
    color: #007bff;
    font-size: smaller;
}

#contGanttH .button:hover {
    background: #dadce0;
}

#contGanttH .button.button-up {
    display: none;
    top: 2rem;
}

#contGanttH .button.button-down {
    bottom: 2.3rem;
}

#contGanttH .button.button-right {
    bottom: 0.6rem;
}

#contGanttH .button.button-left {
    display: none;
    bottom: 0.6rem;
    left: 7.5rem;
    right: unset;
}

#contGanttH .button>i {
    vertical-align: middle;
}

#contGanttH .v-rule {
    position: absolute;
    top: 0;
    border-left: 1px solid #969696;
    height: 100%;
}

#contGanttH .ev-rule {
    display: none;
    border-left: 3px dotted #000;
    z-index: 23;
}

#contGanttH .d-rule {
    display: none;
    border-left: 3px dashed #001;
    z-index: 23;
}

#contGanttH [role="zoom"] {
    max-width: 76px;
}

#contGanttH [role="zoom"] > select {
    max-width: 70px;
}
/*.details {
    flex: 1 30%;
}*/

#contGanttH .topnav #cont-controls {
        display: block;
}

#contGanttH #cont-filtros {
    display: none;
    padding-bottom: 0.5rem;
}

#contGanttH .header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 48px;
    background: white;
    height: 3rem;
    border-left: 1px solid #dadce0;
}

#contGanttH .has-rule {
    box-shadow: 1px 1px 4px 1px #694548, -1px -1px 4px 1px #3a0005;
}

#contGanttH .has-ev-rule {
    box-shadow: 1px 1px 4px 1px #694548, -1px -1px 4px 1px #3a0005;
}
/*---------------------------------------------------------------------------------*/
/*---------------------------------------Movil-------------------------------------*/
/*---------------------------------------------------------------------------------*/

@media (max-width: 768px)
{
    #contGanttH .topnav {
        text-align: center;
        padding: 2px;
        margin-bottom: 3px;
    }

    #contGanttH .topnav #cont-controls {
        display: none;
    }

    #contGanttH .topnav a.icon {
        display: block;
        font-size: 1.4rem;
    }

    #contGanttH .controls {
        padding-top: 0.5rem;
    }

    #contGanttH .col-recursos {
        max-width: 40px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #contGanttH .header {
        width: 40px;
        max-width: 40px;
        min-width: 40px;
    }

    #contGanttH .time {
        left: 49px!important;
    }

    #contGanttH #row-date, 
    #contGanttH #row-week, 
    #contGanttH #row-day {
        display: none;
    }

    .modalC {
        position: absolute;
        top: 0;
        left: 0;
        max-width: unset;
    }

    .modalC-dialog {
        max-width: unset;
    }

    .modalC .modalC-body {
        max-height: unset;
    }

    #contGanttH .details {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 50;
        background: white;
        height: 100%;
    }

    .pop-over>div{
        max-height: unset;
        overflow: auto;
        height: 98%;
    }

/*    .close-po {
        position: absolute;
        top: 0.2rem;
        right: 0.5rem;
        display: block;
        font-size: 12px;
    }
*/
    #contGanttH #cont-filtros {
        display: none;
    }

    #contGanttH [role="shwDetails"] {
        width: unset;
    }
}

/*Scroll-horizontal-Selectores*/
#contGanttH .slider {
 width: 100%;
 display: flex;
 align-items: stretch; 
 overflow-x: scroll;
 -ms-overflow-x: scroll;
 -webkid-overflow-x: scroll;
 overflow-y: hidden;
 padding: 0px!important;
 scroll-snap-type: x mandatory; /* Chrome Canary */  
 scroll-snap-type: mandatory; /* Firefox */  
 -ms-scroll-snap-type: mandatory; /* IE/Edge */  
 -webkit-scroll-snap-type: mandatory; /* Safari */  
 -webkit-scroll-snap-destination: 0% 0%;  
 -webkit-overflow-scrolling: touch; /* important for iOS */ 
}

#contGanttH .section {
   padding-top: .5rem;
   padding-left: 3rem;
   width: 25%;
   flex-shrink: 0;  
   scroll-snap-align: start; /* latest (Chrome 69+) */  
   scroll-snap-coordinate: 0% 0%; /* older (Firefox/IE) */  
   -webkit-scroll-snap-coordinate: 0% 0%; /* older (Safari) */ 
   position: relative;
}

#contGanttH div.opciones {
    padding-bottom: 0.5rem;
    font-size: 12px!important;
}

#contGanttH div.opciones button {
    font-size: 12px!important;
}

#contGanttH div.opciones button[data-for] {
  display: none;
}

#contGanttH .backdrop {
  position: absolute;
  /*background: #ffffffcc;*/
  background: #ffffffeE;
  border-radius: 5px;
  z-index: 20;
}

#contGanttH .filtered {
    box-shadow: 1px 1px 2px 1px #525252;
}

#contGanttH .filter-option {
  font-size: 12px;
}

#contGanttH.c1 .bootstrap-select > .dropdown-toggle {
    max-width: 95%;
}

#contGanttH .btn-clear-filter {
    display: none;
}

#contGanttH #cont-filtros .bs-placeholder {
    border: 1px solid #ced4da;
}

#contGanttH .m-item {
    border-right: 1px solid #dadce0;
    font-size: 12px;
    top: unset;
}

#contGanttH [role="shwDetails"] > button{
    /*width: 20%;*/
    padding: 3px;
}

#contGanttH [role="shwDetails"] i{
    font-size: 21px;
    vertical-align: sub;
}

#contGanttH #cont-main{
    border: 1px solid #999;
    border-radius: 5px;
}
