
<link rel="stylesheet" type="text/css" href="vistas/Pag_construccion/estilos/estilos.css">


<div id="contenedorPag_construccion" class="container-fuild">
	<div class="row contB">
		<div class="col-md-4">
			<button id="Vista_1" type="button" class="btn btn-primary">Vista V1</button>
		</div>
		<div class="col-md-4">
			<button id="Vista_2" type="button" class="btn btn-secondary">Vista V2</button>
		</div>
		<div class="col-md-4">
			<button id="Vista_3" type="button" class="btn btn-success">Vista V3</button>
		</div>
	</div>
</div>

<script src="vistas/Pag_construccion/scripts/variables.js"></script>
<script src="vistas/Pag_construccion/scripts/comunicaciones.js"></script>
<script src="vistas/Pag_construccion/scripts/funciones.js"></script>
<script src="vistas/Pag_construccion/scripts/gestionDOM.js"></script>
<script src="vistas/Pag_construccion/scripts/ready.js"></script>