
body{
    background-color: whitesmoke;
}

#contenedorRegistro{
    box-shadow:0 0 64px rgba(0,0,0,0.5);
    display:block;

    font-family: 'Muli', Heveltica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    margin-top: calc(50vh - 262px);
    align-items: center;
    align-self: center;
    

    /*evita que se pueda seleccionar el texto*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    border-radius: 30px;
}

#contenedorRegistro .row {
    background-color: white;
    border-radius: 30px;
}

.titulo{
    width: 100%;
    height: auto;
}

/**************************************************/
.titulo span{
    text-align: center;
    width: 100%;
    font-weight: 1000;
    font-size: 3.5rem;
    line-height: 1;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    text-shadow: 0 0 80px rgba(255,255,255,.5);
}


.tituloAnimation{
    /* Clip Background Image */
    background-image: url(../imagenes/ondas.jpg);
    background-repeat: repeat;
    background-size: auto;
    -webkit-background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 20s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    background-clip: text;
    /* Animate Background Image */
    -text-fill-color: transparent;
    animation: aitf 15s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
    0% { background-position: 0% 25%; }
    20% { background-position: 20% 40%; }
    40% { background-position: 40% 60%; }
    50% { background-position: 60% 75%; }
    60% { background-position: 80% 60%; }
    80% { background-position: 100% 40%; }
    100% { background-position: 0% 25%; }
}

@keyframes aitf {
    0% { background-position: 0% 25%; }
    20% { background-position: 20% 40%; }
    40% { background-position: 40% 60%; }
    50% { background-position: 60% 75%; }
    60% { background-position: 80% 60%; }
    80% { background-position: 100% 40%; }
    100% { background-position: 0% 25%; }
}
/*************************************************/

.logo_Registro{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
    display: block;
}

#signin{
    width: 100%; 
    background-color: transparent;
    padding: 50px 5% 50px 5%; 
    position: relative; 
    overflow: hidden;
}

.div-input-md{ 
    position:relative; 
}

.div-input-md input{
    font-size:18px;
    padding: 8px 0px 5px 12px;
    border-radius: 4px;
    display:block;
    border: 1px solid #ced4da;
    width: 100%;
    margin-top: 18px;
}
/* En focus, no mostrar outline (borde azul) */
.div-input-md input:focus{ 
    border: 1px solid #007bff;
    outline: none;
}


/* estilo del label */
.div-input-md label{
    color:#999; 
    font-size:16px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    background-color: white;
    left:16px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

.div-input-md input:focus ~ label{
    color: #007bff!important;
    background-color: white;
    padding: 0px 4px;
    left:10px;
    top:-12px;
    font-size:14px;
    border-radius: 5px;
}

/*label en estado activo */
.div-input-md input:valid ~ label{
    padding: 0px 4px;
    left:10px;
    top:-12px;
    font-size:14px;
    color:#9b9b9b;
}

.Registro{
    min-height: 60px; 
    width: 100%; 
    padding: 20px; 
    display: block; 
    background: #324192; 
    color: #FFF; 
    border: none; 
    outline: none; 
    cursor: pointer; 
    position: relative; 
    border-radius: 15px;
    margin-bottom: 5px;
}

.Registro:focus {
    outline: none;
}

/**********************************************************/
#contenedorRegistro .errorInput{
    border: solid 2px red !important;
}

#contenedorRegistro  .errorInput:focus ~ label, #contenedorRegistro .errorInput:valid ~ label{
    color: red !important;
}

.msnError{
    color: #d93025;
    font-size: 12px;
}

.msnError span{
    vertical-align: text-top;
}

.msnError i{
    vertical-align: middle;
}

/**********************************************************/
#ModalAcceso{
    padding-left: 0 !important;
}

#fileLoad{
    height: 100%;
}

#subirFoto{
    padding: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    font-size: 15px;
    cursor: pointer;
}

#subirFoto i, #subirFoto span{
    vertical-align: middle;
}

.cargarFoto{
    margin-top: 18px;
    color: #999;
    border: 1px solid #ced4da;
    border-radius: 3px;
    text-align: center;
    height: 42px;
}

.cargarFoto #foto{
    border: none !important;
}

.fotoSeleccionada{
    background-color:  green;
    color: white !important;
    border: 1px solid #21732a;
    padding-top: 9px !important;
}

/*******************************************************/

#UserReg ~ label, #DomReg ~ label{
    padding: 0px 4px;
    left:10px;
    top:-12px;
    font-size:14px;
    color:#9b9b9b;
}

#UserReg:disabled, #DomReg:disabled{
    background-color: white;
}

/**********************************************************/

@media only screen and  (min-width: 768px){
    .container{
        max-width: 720px !important;
    }
}

@media only screen and (max-width: 767px){

    #contenedorRegistro{
        margin-top: 0;
        height: 100vh;
        overflow-y: auto;
        border-radius: 0;
        margin: auto;
    }

    #contenedorRegistro .row{
        height: 100vh;
        border-radius: 0;
    }
    
    #imagen_logo{
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    #signin {
        padding: 0 10px;
    }

    .logo_Registro{
        width: 100%;
    }
}

@media only screen and (max-height: 470px) {
    #contenedorRegistro{
        margin-top: 0;
        overflow-y: auto;
    }

    #signin {
        padding: 5px 10px;
    }
}

@media only screen and (min-height: 800px) and (max-width: 767px) and  (orientation: portrait){
    .logo_Registro {
        width: 100%;
    }
    .titulo span {
        font-size: 4.5rem;
    }

    #contenedorRegistro {
        margin-top: 50%;
        height: auto;
        border-radius: 15px !important;
    }

    #contenedorRegistro .row {
        height: auto; 
        border-radius: 15px !important;
    }
}

/* MIOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */

    






body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.deshabilitado {
    opacity: 30%;
    
}