/*Sombras div principal e interno*/
.chargeStyleCss {
	padding: 20px!important;
	box-shadow: inset 0 0px 0px 0px #C7C7C7;
}

.chargeStyleCss > div.divTabla {
	height: 100%;
  border-radius: .25rem!important;
	padding: 20px;
	box-shadow: 0 0px 10px 3px #C7C7C7;
}

/*Scroll segundo div*/
.chargeStyleCss > div.divTabla > div {
	overflow-y: auto;
	height: 100%;
}

.chargeStyleCss > div.divTabla > div::-webkit-scrollbar-track
{
 background-color: transparent;
}

.chargeStyleCss > div.divTabla > div::-webkit-scrollbar
{
 height: 8px;
 width: 8px;
}

.chargeStyleCss > div.divTabla > div::-webkit-scrollbar-thumb
{
 border-radius: 30px;
 background-color: #999;
}
/*Fin Scroll*/

/*div secundario de mensajes*/
.chargeStyleCss > div.divMensajes {
	height: 100%;
    border-radius: .25rem!important;
	box-shadow: 0 0px 10px 3px #C7C7C7;
}

.chargeStyleCss > div.divMensajes > .mensajesHeader {
	border-bottom: 1px solid #CCC;
	padding: 20px;
}

.chargeStyleCss > div.divMensajes > .mensajesHeader h4 {
	width: calc(100% - 40px);
}

.chargeStyleCss > div.divMensajes > .mensajesHeader h4 b {
	font-size: 14px;
}

.chargeStyleCss > div.divMensajes > .mensajesHeader > .btn {
    position: relative;
    right: -48%;
    top: -30px;
}

.chargeStyleCss > div.divMensajes > .mensajesBody {
    overflow-y: auto;
    height: calc(100vh - 180px);
    background-color: #d8d8d8;
}

.chargeStyleCss > div.divMensajes > .mensajesBody .mensajesSection {
    border: 1px solid #DDDFE2;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.chargeStyleCss > div.divMensajes > .mensajesBody .mensajesSection h5 {
	margin-bottom: 10px;
	padding-bottom: 5px;
	color: #AB0000;
	border-bottom: 1px solid #DDDFE2;
}

.chargeStyleCss > div.divMensajes > .mensajesBody .mensajesSection h5 b {
	font-size: 14px;
}

.chargeStyleCss > div.divMensajes > .mensajesBody .mensajesSection p {
	font-size: 12px;
}

.chargeStyleCss > div.divMensajes > .mensajesFooter {
	border-top: 1px solid #CCC;
  height: 20px;
}

/*Scroll Mensajes*/
.chargeStyleCss > div.divMensajes > .mensajesBody::-webkit-scrollbar-track
{
 background-color: transparent;
}

.chargeStyleCss > div.divMensajes > .mensajesBody::-webkit-scrollbar
{
 height: 8px;
 width: 8px;
}

.chargeStyleCss > div.divMensajes > .mensajesBody::-webkit-scrollbar-thumb
{
 border-radius: 30px;
 background-color: #999;
}
/*Fin Scroll*/

/*Se desaparece el form*/
.chargeStyleCss form[enctype="multipart/form-data"] {
  display: none;
}

.chargeStyleCss * {
	font-size: 11px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none; 
}

/*tabla*/
.chargeStyleCss th {
	font-size: 12px;
	vertical-align: top!important;
}

.chargeStyleCss .fildAcction p {
	padding-left: calc(50% - 17.17px);
}

.chargeStyleCss .widthBarra {
	width: 40%!important;
}

/*Efecto de transicion*/
.chargeStyleCss .transicion {
    -webkit-box-shadow: inset 0px 0px 2px 3px rgba(74,161,255,0.74);
    -moz-box-shadow: inset 0px 0px 2px 3px rgba(74,161,255,0.74);
    box-shadow: inset 0px 0px 2px 3px rgba(74,161,255,0.74);
}
/**/

/*btn*/
.chargeStyleCss td .btn-primary {
	margin-left: 40%;
}

.chargeStyleCss .btn-primary, .chargeStyleCss .btn-primary[disabled]:hover {
	min-width: 20%;
	height: 1.75rem;
    color: #fff;
    background-color: #3276b1;
    border-color: #2c699d;
}

.chargeStyleCss .btn-primary:active {
    color: #fff;
    background-color: rgb(31,73,109)!important;
    box-shadow: none!important;
    border-color: #2c699d!important;
}

.chargeStyleCss .btn-primary:hover {
    color: #fff;
    background-color: rgb(39,91,137);
    border-color: #2c699d;
}

.chargeStyleCss .btn-primary:focus {
	box-shadow:none!important;
}

/*Barra de progreso*/
.chargeStyleCss .progress, .chargeStyleCss .progress-bar {
	height: 1.5rem;
}

.chargeStyleCss .progress {
	background-color: #E1E1E1;
}

.chargeStyleCss .bg-info {
	background-color: #009688!important;
}

/*switch************/
.chargeStyleCss .switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.chargeStyleCss .switch-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  width: 36px;
  margin-left: calc(50% - 18px);
}

.chargeStyleCss .switch-label-principal {
	margin-left: 0px!important;
}
.chargeStyleCss .switch-label:before, .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.chargeStyleCss .switch-label:before {
  left: 1px;
  width: 34px;
  height: 17px;
  background-color: #9E9E9E;
  border-radius: 8px;
}

.chargeStyleCss .switch-label:after {
  left: 0;
  width: 17px;
  height: 17px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

.chargeStyleCss .switch-label .toggle--on {
  display: none;
}

.chargeStyleCss .switch-label .toggle--off {
  display: inline-block;
}

.chargeStyleCss .switch-input:checked + .switch-label:before {
  background-color: #6C96BB85;
}

.chargeStyleCss .switch-input:checked + .switch-label:after {
  background-color: #3276B1;
  -ms-transform: translate(125%, -50%);
  -webkit-transform: translate(125%, -50%);
  transform: translate(125%, -50%);
}

.chargeStyleCss .switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}

.chargeStyleCss .switch-input:checked + .switch-label .toggle--off {
  display: none;
}

/*warning-icon*/
.chargeStyleCss .fa-exclamation-triangle {
	font-size: 25px;
    color: #AB0000;
}

.chargeStyleCss .fa-exclamation-triangle:hover {
	color: #720000;
}

.chargeStyleCss .fa-exclamation-triangle:active {
	color: #5F0000;
 }

 /*Succes icon*/
.chargeStyleCss .fa-check {
	font-size: 25px;
	color: #309C40;
}

 /*icono de cargando, procesando*/
.chargeStyleCss .fa-sync-alt {
	font-size: 25px;
	color: #B7950B;
}

/*padding necesarios*/
.chargeStyleCss .modal-body {
  overflow-y: auto;
  max-height: calc(100vh - 160px);
}

/*btn*/
.chargeStyleCss .btn-danger, .chargeStyleCss .btn-danger[disabled]:hover {
    color: #fff;
    background-color: #ab0000;
    border-color: #ab0000;
}

.chargeStyleCss .btn-danger:active {
    color: #fff;
    background-color: #5f0000!important;
    box-shadow: none!important;
    border-color: #ab0000!important;
}

.chargeStyleCss .btn-danger:hover {
    color: #fff;
    background-color: #720000;
    border-color: #ab0000;
}

/*Tooltip*/
.chargeStyleCss .tooltipCharge {
  position: relative;
}

.chargeStyleCss .tooltipCharge .tooltipChargeText {
  visibility: hidden;
  width: 120px;
  background-color: #000000E3;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  z-index: 1;
  position: absolute;

  top: -5px;
  bottom: auto;
  right: 128%;
  /*bottom: 116%;
  left: 50%; 
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.chargeStyleCss .tooltipCharge .tooltipChargeTextBottom {
  visibility: hidden;
  width: 120px;
  background-color: #000000E3;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  z-index: 1;
  position: absolute;

  top: -5px;
  bottom: auto;
  right: 128%;
  /*top: 116%;
  left: 50%; 
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.chargeStyleCss .tooltipChargeText::after {
    content: "";
    position: absolute;
    /*top: 100%;
    left: 50%;*/
    top: 50%;
    left: 100%;
    /*margin-left: -5px;*/
    margin-left: 0px;
    border-width: 5px;
    border-style: solid;
    /*border-color: #000000E3 transparent transparent transparent;*/
    border-color: transparent transparent transparent #000000E3;  
}

.chargeStyleCss .tooltipCharge .tooltipChargeTextBottom::after {
    content: "";
    position: absolute;
    /*bottom: 100%;
    left: 50%;*/
    top: 50%;
    left: 100%;
    /*margin-left: -5px;*/
    margin-left: 0px;
    border-width: 5px;
    border-style: solid;
    /*border-color: transparent transparent #000000E3 transparent;*/
    border-color: transparent transparent transparent #000000E3;  
}

.chargeStyleCss .tooltipCharge:hover .tooltipChargeText,
.chargeStyleCss .tooltipCharge:hover .tooltipChargeTextBottom {
	visibility: visible;
}

.chargeStyleCss .tooltipCharge:hover .tooltipChargeText:hover,
.chargeStyleCss .tooltipCharge:hover .tooltipChargeTextBottom:hover {
	visibility: hidden;
}
/**/