
#contGanttV #spinnerG {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 30;
}

#contGanttV #backd {
    height: 100%;
    width: 100%;
    top: 0;
    /*left: 0;*/
    background: #00000090;
    position: absolute;
    z-index: 29;
    border-radius: 5px;
}

#contGanttV.c1 {
    /*position: absolute;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #dadce0;
    border-radius: 5px;
    width: 100%;
}

#contGanttV .c2 {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
}

#contGanttV .topnav a.icon {
    display: none;
}

#contGanttV .controls {
    padding: 0.1rem 0.5rem 0.5rem 0.5rem;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
}

#contGanttV .cont {
    position: relative;
    border-top: #dadce0 1px solid;
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

#contGanttV .cont {
    border-top: 0;
}

#contGanttV .contA {
    -webkit-box-flex: 1 1 60%;
    -webkit-flex: 1 1 60%;
    flex: 1 1 60%;
}

#contGanttV .h-line::before {
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.14), inset 0 2px 1px -1px rgba(0,0,0,.12);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.14), inset 0 2px 1px -1px rgba(0,0,0,.12);
    content: "";
    height: 4px;
    position: absolute;
    width: -webkit-calc(100% - 16px);
    width: calc(100% - 16px);
    z-index: 25;
}

#contGanttV .h-line::after {
    background-image: linear-gradient(to left,white,rgba(255,255,255,0));
    content: "";
    height: 2px;
    position: absolute;
    right: 16px;
    width: 80px;
    z-index: 25;
}

#contGanttV .h-line .t-line::before {
    background-image: linear-gradient(to right,white,rgba(255,255,255,0));
    content: "";
    height: 2px;
    position: absolute;
    width: 80px;
    z-index: 25;
}

#contGanttV .inner-cont {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-y: scroll;
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

#contGanttV .cont .inner-cont {
    overflow: hidden;
    -webkit-align-items: stretch;
    align-items: stretch;
}

#contGanttV  .inner-cont .col-rule {
    height: auto;
}

body #contGanttV .col-rule {
    height: 960px;
}

#contGanttV .col-rule {
    overflow-y: hidden;
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
    height: 1152px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

#contGanttV .col-rule {
    min-width: 40px;
}

#contGanttV .date, 
#contGanttV .week, 
#contGanttV .day {
    color: black;
    font-size: 12px;
    width: 100%;
}

#contGanttV .time {
    color: #70757a;
    font-size: 12px;
    width: 100%
}

#contGanttV .date,
#contGanttV .time, 
#contGanttV .week, 
#contGanttV .day {
    position: relative;
    border-right: #dadce0 1px solid;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#contGanttV .date, 
#contGanttV .time, 
#contGanttV .week, 
#contGanttV .day {
    margin-left: auto;
    border-right: none;
}

body #contGanttV .time-item {
    height: 40px;
    min-height: 1rem;
}

#contGanttV .time-item {
    position: relative;
    height: 48px;
    background: white;
    text-align: center;
}

#contGanttV .time-item {
    /*padding-right: 8px;*/
    text-align: center;
    border-top: 1px solid #dadce0;
    border-left: 1px solid #dadce0;
}

#contGanttV .item {
    display: block;
    position: relative;
    top: -2px;
}

#contGanttV .t-item {
    /*font-size: 10px;*/
    color: #3c4043;
}

#contGanttV .t-item {
    color: #70757a;
    -webkit-font-smoothing: subpixel-antialiased;
}

#contGanttV .pres {
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    border-right: 1px solid #dadce0;
}

#contGanttV .inner-cont .pres {
    overflow-x: hidden;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

#contGanttV .gantt {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

#contGanttV .gantt {
    overflow: hidden;
}

#contGanttV .inner-cont .gantt {
    min-width: 100%;
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
}

#contGanttV .inner-cont .cont-events {
    -webkit-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 129px;
    min-width: 129px;
}

#contGanttV [role="gridcell"] {
    outline: none;
}

#contGanttV .cont-events {
    border-right: #dadce0 1px solid;
    position: relative;
    padding-right: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

#contGanttV .cont-events.cont-evs {
    overflow: hidden;
}

#contGanttV .cont-events.cont-evs {
    border-right: white 1px solid;
    overflow: visible;
}

#contGanttV .no-v {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/*.h-line {
    -webkit-box-shadow: inset 0px -2px 3px 0 rgba(0,0,0,.14), inset 0px -2px 1px -1px rgba(0,0,0,.12);
    box-shadow: inset 0px -2px 3px 0 rgba(0,0,0,.14), inset 0px -2px 1px -1px rgba(0,0,0,.12);
}*/

#contGanttV .vertical-line {
    width: 8px;
    border-right: #dadce0 1px solid;
}

#contGanttV .label-line {
    position: absolute;
    top: 0;
    left: 8px;
    height: 100%;
    border-left: solid 1px;
    z-index: -1;
}

#contGanttV div.vertical-text
{
    font-size: 12px;
    text-align: right;
    position: absolute;
    left: -13.5%;
    writing-mode: vertical-lr;
    /*transform: rotate(180deg); */
    /*-webkit-transform: rotate(180deg); /* Safari/Chrome */
    /*-moz-transform: rotate(180deg); /* Firefox */
    /*-o-transform: rotate(180deg); /* Opera */
    /*-ms-transform: rotate(180deg); /* IE 9 */
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
/*    border: 1px solid black;
    border-radius: 10px;*/
}

#contGanttV div.vertical-text .label-text
{
    background: white;
    position: relative;
    text-overflow: ellipsis;
}

#contGanttV div.vertical-date, 
#contGanttV div.vertical-week, 
#contGanttV div.vertical-day
{
    /*font-size: 12px;*/
    text-align: center;
    /*writing-mode: vertical-lr;*/
    /*transform: rotate(180deg);*/
    /*-webkit-transform: rotate(180deg); /* Safari/Chrome */
    /*-moz-transform: rotate(180deg); /* Firefox */
    /*-o-transform: rotate(180deg); /* Opera */
    /*-ms-transform: rotate(180deg); /* IE 9 */
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid #dadce0;
    border-left: 1px solid #dadce0;
}

#contGanttV div.vertical-date .date-text, 
#contGanttV div.vertical-week .week-text, 
#contGanttV div.vertical-day .day-text
{
    background: white;
    position: relative;
    text-overflow: ellipsis;
    display: block;
}

#contGanttV div.vertical-date .date-text span, 
#contGanttV div.vertical-week .week-text span, 
#contGanttV div.vertical-day .day-text span{
    display: block;
}

#contGanttV .item span {
    display: block;
}

#contGanttV .rule {
    height: 48px;
    min-height: 1rem;
}

#contGanttV .rule::after {
    content: '';
    border-bottom: #dadce0 1px solid;
    position: absolute;
    width: 100%;
    margin-top: -1px;
    z-index: 3;
    pointer-events: none;
}

#contGanttV .rules{
    border-top: #dadce0 1px solid;
}

#contGanttV .event{
    position: absolute;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    font-size: 12px;
    min-height: 3px;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    width: 98%;
    left: 10px;
    z-index: 10;
    color: white;
    /*font-weight: 1; */
    /*box-shadow: inset 0px -1px 3px 1px #000000a1, inset 0px -1px 3px 1px #ffff0042;*/
}

#contGanttV .group-events {
    background: repeating-linear-gradient(45deg,white,white 5px,#ccc 5px,#ccc 10px);
    /*background: repeating-linear-gradient(45deg,transparent,transparent 10px,#ccc 10px,#ccc 20px),  linear-gradient(to bottom,#eee,#999);*/
    cursor: default;
    border: 1px solid #ccc;
    /*font-weight: 1; */
    /*box-shadow: inset 0px -1px 3px 1px #000000a1, inset 0px -1px 3px 1px #ffff0042;*/
}

#contGanttV .arrow-group {
    position: absolute;
    left: 3px;
    font-size: 11px;
    z-index: 15;
    height: 13px;
}

#contGanttV .event>div {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 16px;
    /*font-weight: bold;*/
}

#contGanttV .presentation {
    position: relative;
    height: 100%;
    width: 100%;
}

#contGanttV .options {
/*    border-radius: 50%;*/
    cursor: pointer;
    padding: 1% 2%;
    text-align: center;
    vertical-align: middle;
    height: 35px;
    width: 35px;
}

#contGanttV #append-details:hover{
    color: green;
}

#contGanttV #edit-M:hover{
    color: #007bff;
}

#contGanttV #delete-M:hover{
    color: #dc3545;
}

#contGanttV #close-M{
    color: #6c757d;
}

#contGanttV #close-M:hover{
    color: #000;
}

#contGanttV .opt-cont {
    padding: 1rem 0 0.5rem 0;
}

#contGanttV .options-D {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50% / 50%;
    cursor: pointer;
    /*padding: 1% 2%;*/
    text-align: center;
    /*vertical-align: middle;*/
    height: 30px;
    width: 30px;
}

#contGanttV .options-D i {
    vertical-align: middle;
    font-size: 12px;
}

#contGanttV .options-D:hover {
    /*background-color: #dadce0;*/
}

#contGanttV .modalC {
    position: fixed;
    top: 0;
    left: 7px;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100px;
    /*overflow: auto;*/
    outline: 0;
    max-width: 177px;
}

#contGanttV .modalC-body {
    position: relative;
    right: 6px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem 1rem;;
    margin-bottom: 1rem;
    font-size: 12px;
    max-height: 150px;
    overflow: auto;
}

#contGanttV .modalC-body span {
    font-weight: bolder;
}

#contGanttV .modalC-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

#contGanttV .modalC-title {
    margin-bottom: 0;
    margin-top: 2%;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50%;
    min-width: 50%;
    overflow: hidden;
    font-size: 14px;
}

#contGanttV .modalC-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

#contGanttV .modalC-dialog {
    width: 100%;
    max-width: 500px;
}

#contGanttV .pop-over {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    background: white;
    z-index: 20;
    border-radius: 10px;
    padding: 0.5rem;
    border: 1px solid rgba(0,0,0,.2);
    overflow: auto;
    max-width: 400px;
    width: 50%;
}

#contGanttV .pop-over>div{
    max-height: 250px;
    overflow: auto;
}

#contGanttV .close-po {
    display: none;
}

#contGanttV .pop-event {
    position: relative;
    top: 0px;
    margin-bottom: 2px;
    width: 95%
}

#contGanttV .details {
    width: 45%;
    /*overflow: auto;*/
    display: none;
    padding: 0.5rem 0.1rem;
    border-right: 1px solid #dadce0; 
}

#contGanttV .detail {
    border-radius: 5px;
    border: 1px solid #ccc;
    position: static;
    margin-top: 3px;
}

#contGanttV .cont-det {
    overflow: auto;
    height: calc(100% - 63px);
    padding: 0.5rem 0.2rem;
}

#contGanttV .detail .titleD{
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    padding-bottom: 3px; 
    box-shadow: 0px 1px 1px 0px #dadce0;
}

#contGanttV .detail .fas, 
#contGanttV .detail .far {
    cursor: pointer;
}

#contGanttV .selectEv {
    /* background: #4dd2ff; */
    /*background-color: red;*/
    -webkit-animation-name: shadowSel;
    -webkit-animation-duration: 4s;
    animation-name: shadowSel;
    animation-duration: 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes shadowSel {
    0%   {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    12%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    24%  {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    36%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    48%  {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    60%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    72%  {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    84%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    100% {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
}

/* Standard syntax */
@keyframes shadowSel {
    0%   {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    12%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    24%  {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    36%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    48%  {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    60%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    72%  {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
    84%  {box-shadow: 4px 4px 6px #737373, -4px -4px 6px #737373;}
    100% {box-shadow: 2px 2px 4px #737373, -2px -2px 4px #737373;}
}

#contGanttV .gotoEvD:hover {
    color: #17a2b8;
}

#contGanttV .editEvD:hover {
    color: #007bff;
}

#contGanttV .delEvD:hover {
    color: #dc3545;
}

#contGanttV .delD {
    color: #6c757d;
}

#contGanttV .delD:hover {
    color: #000;
}

#contGanttV .button {
    position: absolute;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 15;
    border-radius: 50%;
    box-shadow: 1px 1px 2px #ccc, -1px 1px 2px #ccc;
    background: white;
    text-align: center;
    cursor: pointer;
    color: #007bff;
    font-size: smaller;
}

#contGanttV .button:hover {
    background: #dadce0;
}

#contGanttV .button.button-up {
    display: none;
    top: 0.5rem;
}

#contGanttV .button.button-down {
    bottom: 0.5rem;
}

#contGanttV .button>i {
    vertical-align: middle;
}

/*---------------------------------------------------------------------------------*/
/*---------------------------------------Movil-------------------------------------*/
/*---------------------------------------------------------------------------------*/

@media (max-width: 768px)
{
    #contGanttV .topnav {
        text-align: center;
        padding: 2px;
        margin-bottom: 3px;
    }

    #contGanttV .topnav #cont-controls {
        display: none;
    }

    #contGanttV .topnav a.icon {
        display: block;
        font-size: 1.4rem;
    }

    #contGanttV .controls {
        padding-top: 0.5rem;
    }

    #contGanttV #col-date, 
    #contGanttV #col-week, 
    #contGanttV #col-day {
        display: none;
    }

    #contGanttV .modalC {
        position: absolute;
        top: 0;
        left: 0;
        max-width: unset;
    }

    #contGanttV .modalC-dialog {
        max-width: unset;
    }

    #contGanttV .modalC .modalC-body {
        max-height: unset;
    }

    #contGanttV .details {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 50;
        background: white;
        height: 100%;
    }

/*    .pop-over {
        position: absolute;
        top: 0px;
        left: 0px;
        max-width: unset;
        width: 100%;
        height: 100%;
        padding-top: 1.5rem;
    }*/

    #contGanttV .pop-over>div{
        max-height: unset;
        overflow: auto;
        height: 98%;
    }

    #contGanttV .close-po {
        position: absolute;
        top: 0.2rem;
        right: 0.5rem;
        display: block;
        font-size: 12px;
    }
}

#contGanttV .inner-cont .pres::-webkit-scrollbar,
#contGanttV .c2 .modalC-body::-webkit-scrollbar,
#eventsModal.modalC .modalC-body::-webkit-scrollbar,
#contGanttV .c2 .cont-det::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}

#contGanttV .inner-cont .pres::-webkit-scrollbar-thumb,
#contGanttV .c2 .modalC-body::-webkit-scrollbar-thumb,
#eventsModal.modalC .modalC-body::-webkit-scrollbar-thumb,
#contGanttV .c2 .cont-det::-webkit-scrollbar-thumb{
    background: #999;
    border-radius: 30px;
}

#contGanttV .m-item {
    border-right: 1px solid #dadce0;
    font-size: 12px;
    top: unset;
}